* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

header p {
  margin-top: 5px;
  font-size: 14px;
  color: #bdc3c7;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}

section {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 16px;
  color: #2c3e50;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #3d5166;
}

#info-curso {
  margin-top: 16px;
  font-size: 15px;
  color: #555;
}

ul {
  list-style: none;
  margin-top: 16px;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

/* transição para etapas */

section {
  transition: opacity 0.3s ease;
}

.etapa-concluida h2::after {
  content: "✔";
  color: #27ae60;
  font-size: 16px;
}

/*Botão secundário */

#btn-editar-curso {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

#btn-editar-curso:hover {
  background-color: #3d5166;
}
